<%= form_with(model: banido, local: true) do |form| %>
  <% if banido.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(banido.errors.count, "error") %> prohibited this banido from being saved:</h2>

      <ul>
      <% banido.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :permanente %>
    <%= form.check_box :permanente %>
  </div>

  <div class="field">
    <%= form.label :termino %>
    <%= form.date_select :termino %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
