<p id="notice"><%= notice %></p>

<h1>Banidos</h1>

<table>
  <thead>
    <tr>
      <th>Permanente</th>
      <th>Termino</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @banidos.each do |banido| %>
      <tr>
        <td><%= banido.permanente %></td>
        <td><%= banido.termino %></td>
        <td><%= link_to 'Show', banido %></td>
        <td><%= link_to 'Edit', edit_banido_path(banido) %></td>
        <td><%= link_to 'Destroy', banido, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Banido', new_banido_path %>
