<p id="notice"><%= notice %></p>

<p>
  <strong>Permanente:</strong>
  <%= @banido.permanente %>
</p>

<p>
  <strong>Termino:</strong>
  <%= @banido.termino %>
</p>

<%= link_to 'Edit', edit_banido_path(@banido) %> |
<%= link_to 'Back', banidos_path %>
