<p id="notice"><%= notice %></p>

<h1>Solicitacaos</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @solicitacaos.each do |solicitacao| %>
      <tr>
        <td><%= link_to 'Show', solicitacao %></td>
        <td><%= link_to 'Edit', edit_solicitacao_path(solicitacao) %></td>
        <td><%= link_to 'Destroy', solicitacao, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Solicitacao', new_solicitacao_path %>
