<p id="notice"><%= notice %></p>

<h1>Bans</h1>

<table>
  <thead>
    <tr>
      <th>Forever</th>
      <th>End date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bans.each do |ban| %>
      <tr>
        <td><%= ban.forever %></td>
        <td><%= ban.end_date %></td>
        <td><%= link_to 'Show', ban %></td>
        <td><%= link_to 'Edit', edit_ban_path(ban) %></td>
        <td><%= link_to 'Destroy', ban, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ban', new_ban_path %>
