<%= form_with(model: evento, local: true) do |form| %>
  <% if evento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(evento.errors.count, "error") %> prohibited this evento from being saved:</h2>

      <ul>
      <% evento.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :modalidade %>
    <%= form.text_field :modalidade %>
  </div>

  <div class="field">
    <%= form.label :data %>
    <%= form.date_select :data %>
  </div>

  <div class="field">
    <%= form.label :horario_inicio %>
    <%= form.time_select :horario_inicio %>
  </div>

  <div class="field">
    <%= form.label :horario_termino %>
    <%= form.time_select :horario_termino %>
  </div>

  <div class="field">
    <%= form.label :periodicidade %>
    <%= form.text_field :periodicidade %>
  </div>

  <div class="field">
    <%= form.label :local %>
    <%= form.text_field :local %>
  </div>

  <div class="field">
    <%= form.label :descricao %>
    <%= form.text_area :descricao %>
  </div>

  <div class="field">
    <%= form.label :convite %>
    <%= form.check_box :convite %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
