<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :sport, 'Basketball', :value => 'basketball' %> 
    <%= form.radio_button :sport, 'basketball'%>
    
    <%= form.label :sport, 'Volleyball', :value => 'volleyball' %>
    <%= form.radio_button :sport, 'volleyball' %>
    
    <%= form.label :sport, 'Soccer', :value => 'soccer' %>
    <%= form.radio_button :sport, 'soccer' %>
    
    <%= form.label :sport, 'Running', :value => 'running' %>
    <%= form.radio_button :sport, 'running' %>

    <%= form.label :sport, 'Tennis', :value => 'tennis' %>
    <%= form.radio_button :sport, 'tennis' %>

    <%= form.label :sport, 'Other (specify in description)', :value => 'other' %>
    <%= form.radio_button :sport, 'other' %>

  </div>

<!--
  <div class="field">
    <%= form.label :sport %>
    <%= form.text_field :sport %>
  </div>
-->

  <div class="field">
    <%= form.label :event_date %>
    <%= form.date_select :event_date %>
  </div>

  <div class="field">
    <%= form.label :start_time %>
    <%= form.time_select :start_time %>
  </div>

  <div class="field">
    <%= form.label :end_time %>
    <%= form.time_select :end_time %>
  </div>

  <div class="field">

    <%= form.label :frequency, 'Single time', :value => 'single_time' %> 
    <%= form.radio_button :frequency, 'single_time'%>
    
    <%= form.label :frequency, 'Every week', :value => 'every_week' %>
    <%= form.radio_button :frequency, 'every_week' %>
    
    <%= form.label :frequency, 'Every month', :value => 'every_month' %>
    <%= form.radio_button :frequency, 'every_month' %>
    
    <%= form.label :frequency, 'Every year', :value => 'every_year' %>
    <%= form.radio_button :frequency, 'every_year' %>
    
  </div>

<!--
  <div class="field">
    <%= form.label :frequency %>
    <%= form.text_field :frequency %>
  </div>
-->

  <div class="field">
    <%= form.label :place %>
    <%= form.text_field :place %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :all_can_invite %>
    <%= form.check_box :all_can_invite %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
