<b><%= @current_user.name %></b>
<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Sport:</strong>
  <%= @event.sport %>
</p>

<p>
  <strong>Event date:</strong>
  <%= @event.event_date %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @event.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @event.end_time %>
</p>

<p>
  <strong>Frequency:</strong>
  <%= @event.frequency %>
</p>

<p>
  <strong>Place:</strong>
  <%= @event.place %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<strong>Participating Users:</strong><br>
<tbody>
    <% @participating_users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
      </tr>
    <% end %>
</tbody>

<p>
  <% if @event.all_can_invite && @in_event %>
    <%= link_to 'Invite Users', new_event_invitation_url(@event)%><br>
  <% elsif @event.all_can_invite && !@in_event%>
    <strong>Ask to join: (add link later)</strong><br>
  <% else @event.all_can_invite == false%>
    <% if @host %>
      <%= link_to 'Invite Users', new_event_invitation_url(@event)%><br>
    <% elsif !@in_event%>
      <strong>Ask to join: (add link later)</strong><br>
    <% end %>
  <% end %>
</p>

<%= link_to "Rate someone", new_rating_path(:event_id => @event.id) %> | <%= link_to "Report someone", new_report_path %><br/><br/>

<!--      new_event_rating_url(@event) new_rating_path(:event => @event, :rater => current_user.id)
<strong>Avaliar um participante (add link later)</strong>
<strong>Denunciar um participante (add link later)</strong><br>
-->

<% if @host %>
  <%= link_to 'Edit Event', edit_event_path(@event) %> |  
<% end %>
<%= link_to 'Home', root_url %>
