<b><%= @current_user.name %></b>
<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Sport:</strong>
  <%= @event.sport %>
</p>

<p>
  <strong>Event date:</strong>
  <%= @event.event_date %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @event.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @event.end_time %>
</p>

<p>
  <strong>Frequency:</strong>
  <%= @event.frequency %>
</p>

<p>
  <strong>Place:</strong>
  <%= @event.place %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<strong>Participating Users:</strong><br>
<tbody>
    <% @participating_users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
      </tr>
    <% end %>
</tbody>

<p>
  <% if @event.all_can_invite && @in_event %>
    <strong>Invite Users: (add link later)</strong><br>
  <% elsif @event.all_can_invite && !@in_event%>
    <strong>Solicitar acesso: (add link later)</strong><br>
  <% else @event.all_can_invite == false%>
    <% if @host %>
      <strong>Invite: (add link later)</strong><br>
    <% elsif !@in_event%>
      <strong>Solicitar acesso: (add link later)</strong><br>
    <% end %>
  <% end %>
</p>

<strong>Avaliar um participante (add link later)</strong> | <strong>Denunciar um participante (add link later)</strong><br>
<% if @host %>
  <%= link_to 'Edit Event', edit_event_path(@event) %> |  
<% end %>
<%= link_to 'Home', root_url %>
