<h1>Invite Users</h1>

<% @event = Event.find(params[:event_id]) %>
<% @participations = Participation.where("event_id = ?", @event.id) %>
<% @p_users = [] %>
<% @participations.each do |participation| %>
    <%= User.find(participation.user_id).name %>
<% end %>

<%= form_tag(new_event_invitation_url(@event), :method => :get) do %>
  <%=  text_field_tag 'search', nil, placeholder: 'Enter search term...' %>
  <%= submit_tag "Search Users" %>
<% end %>

<%= form_with(model: [@event, @invitation], local: true) do |form| %>
  <% if @invitation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invitation.errors.count, "error") %> prohibited this invitation from being saved:</h2>

      <ul>
      <% @invitation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  	<% if @found_users %>
	<% @count = 0 %>
	<% loop do %>
		<% if @count == @found_users.length %>
			<% break %>
		<%end%>
		<%= form.label :users, @found_users[@count].name, :style => "display:inline", :value => @found_users[@count].name %>
		<%= form.radio_button :users, @found_users[@count].name %>
		<% @count += 1 %>
		<% end %>
	<% end %>
  </div>
  


  <div class="actions">
    <%= form.submit "Send Invitation(s)"%>
  </div>
<% end %>

