<h1>Invite Users</h1>
<% @event = Event.find(params[:event_id]) %>
<% @participations = Participation.where("event_id = ?", @event.id) %>
<% @p_users = [] %>
<% @participations.each do |participation| %>
    <%= User.find(participation.user_id).name %>
<% end %>

<%= form_tag(new_event_invitation_url(@event), :method => :get) do %>
  <%=  text_field_tag 'search', nil, placeholder: 'Enter search term...' %>
  <%= submit_tag "Search Users" %>
<% end %>


<% if @found_users %>
	<% @count = 0 %>
	<% loop do %>
		<% if @count == @found_users.length %>
			<% break %>
		<%end%>
		<%=  @found_users[@count].name %>
		<% @count += 1 %>
		<% end %>
	<% end %>
<% end %>