<%= form_for(usuario, html:{ multipart: true }) do |form| %>
  <% if usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>

      <ul>
      <% usuario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :apelido %>
    <%= form.text_field :apelido %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :celular %>
    <%= form.text_field :celular %>
  </div>

  <div class="field">
    <%= form.label :nascimento %>
    <%= form.date_select :nascimento %>
  </div>

  <div class="field">
    <%= form.label :sexo %>
    <%= form.radio_button :sexo, 'masculino' %> masculino
    <%= form.radio_button :sexo, 'feminino' %> feminino<br />
  </div>

  <div class="field">
    <%= form.label :senha %>
    <%= form.password_field :senha %>
  </div>

  <div class="field">
    <%= form.hidden_field :sal %>
  </div>
  <div class="field">
    <%= form.label :photo %><br />
    <%= form.file_field :photo %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
