<h1>Sportmatch</h1>
<p>
<% if current_user %>
	Logged in as <%= current_user.email %>.<br />
	<% if current_user.has_photo? %>
		<%= image_tag(current_user.photo_path, size: "150x150") %><br />
	<% end %>
	<%= current_user.name %><br />
	<%= link_to "Edit Profile", "/editing" %><br />
	<%= link_to "Create event", new_event_path %><br />
	<%= link_to "Log Out", logout_path %><br />
</p>
<hr>
<%= form_tag(root_path, :method => :get) do %>
  <%=  text_field_tag 'search', nil, placeholder: 'Enter search term...' %>
  <%= submit_tag "Search Event" %>
<% end %>
<h1><%= @mensagem %></h1>
<tbody>
		<% @events.each do |event| %>
				<b>Nome do Evento:</b> <%= event.name %><br>

				&nbsp&nbsp&nbsp<b>Modalidade:</b>	<%= event.sport %><br>

				&nbsp&nbsp&nbsp<b>Data:</b>  <%= event.event_date %><br>

				&nbsp&nbsp&nbsp<b>Horário de Início:</b> <%=event.start_time %><br>
				&nbsp&nbsp&nbsp<b>Horário de Término:</b> <%=event.end_time %><br>

				&nbsp&nbsp&nbsp<b>Local:</b> <%=event.place %><br>
				&nbsp&nbsp&nbsp<b>Descrição:</b> <%=event.description %><br>

				<%= link_to "Acessar evento", event_path(event.id) %><br>
				<br>

		<% end %>
	</tbody>
<% else %>
	<%= link_to "Sign Up", signup_path %> |
	<%= link_to "Log In", new_session_path %>
<% end %></p>
