<h1>Sportmatch</h1>
<p>
<% if current_user %>
	Logged in as <%= current_user.email %>.<br />

	<% if current_user.invitations.length > 0 %>
		<%= "You have received this invitations:" %><br /><br />
			<% current_user.invitations.each do |invitation| %>
				<% event = Event.find(invitation.event_id) %>
				<%= link_to event.name, event_path(event.id) %>|
			<% end %>
	<br /><br />
	<% end %>


	<%= button_to "Log Out", logout_path, form: {style: 'display:inline-block;'}, :class => "buttons" , :method => :get %>

	<% if current_user.has_photo? %>
		<%= image_tag(current_user.photo_path, size: "150x150") %><br />
	<% end %>
	<div id="username">
	<%= current_user.name %><br />
	</div>
	<%= button_to "Edit Profile", "/editing", form: {style: 'display:inline-block;'}, :method => :get , :class => "buttons" %>
	<%= button_to "Create event", new_event_path, form: {style: 'display:inline-block;'}, :method => :get , :class => "buttons" %>
</p>
<div id="line"><hr></div>
<div id="home_body">
<%= form_tag(root_path, :method => :get) do %>
  <%=  text_field_tag 'search', nil, placeholder: 'Enter search term...' %>
  <%= submit_tag "Search Event" %>
<% end %>
<h1><%= @mensagem %></h1>
<tbody>
		<% @events.each do |event| %>
		  	<b>Event Name:</b> <%= event.name %><br>

		  	&nbsp&nbsp&nbsp<b>Sport:</b>	<%= event.sport %><br>

		  	&nbsp&nbsp&nbsp<b>Date:</b>  <%= event.event_date %><br>

		  	&nbsp&nbsp&nbsp<b>Start Time:</b> <%=event.start_time %><br>
		  	&nbsp&nbsp&nbsp<b>End Time:</b> <%=event.end_time %><br>

		  	&nbsp&nbsp&nbsp<b>Place:</b> <%=event.place %><br>
		  	&nbsp&nbsp&nbsp<b>Description:</b> <%=event.description %><br>

				<%= link_to "Access Event", event_path(event.id) %><br>
				<br>

		<% end %>
	</tbody>
</div>

<% else %>
<div id="init">
	<figure id="title_background">
		<h1 id="title">
			Sportmatch
		</h1>
	</figure>

	<div id="signup">
	<figure id="user_background" class="texto_normal">
    <p><%= link_to "Log in!", new_session_path, :class => "texto_normal"%> <br/><br/><br/><br/>

		<%= link_to "Sign up now", signup_path, :class => "texto_normal" %>
	</p>
	</figure>
	</div>
</div>
<% end %>
