<h1>Sportmatch</h1>
<p>
<% if current_user %>
	Logged in as <%= current_user.email %>.<br />
	<% if current_user.has_photo? %>
		<%= image_tag(current_user.photo_path, size: "200x200") %><br />
	<% end %>
	<%= current_user.name %><br />
	<%= link_to "Edit Profile", "/editing" %><br />
	<%= link_to "Create event", "/events#new" %><br />
	<%= link_to "Log Out", logout_path %>
<% else %>
	<%= link_to "Sign Up", signup_path %> |
	<%= link_to "Log In", new_session_path %>
<% end %></p>
</p>
<hr>
